<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.afterend.mapper.RoleInfoMapper" >

    <!--得到所有角色-->
    <select id="getAllRoles" resultType="roleinfo">
        select * from roleinfo
    </select>

    <!--学校教师表得到所有角色-->
    <select id="getAllRolesInST" resultType="roleinfo">
        select * from roleinfo where id in(3,4)
    </select>

    <!--实训教师表得到所有角色-->
    <select id="getAllRolesInTT" resultType="roleinfo">
        select * from roleinfo where id in(5,6)
    </select>

    <!--根据roid得到对应的role-->
    <select id="getRoleById" parameterType="int" resultType="roleinfo">
    	select * from roleinfo where id = #{id}
    </select>

    <!--通过角色id找到对应的菜单-->
    <select id="getRoleMenuId" parameterType="int" resultType="roleMenu">
    	select * from rolemenu where roleid = #{roleid}
    </select>

    <!--通过roidid和menuid删除权限菜单-->
    <delete id="deleteByids" parameterType="map">
        delete from rolemenu where roleid=#{roleid} and menuid=#{menuid}
    </delete>

    <!-- 修改角色对应的菜单 -->

    <!-- 第一步 删除roleID对应的所有 menuId -->
    <delete id="delRoleMenu" parameterType="int">
    	delete from rolemenu where roleid = #{roleId}
    </delete>

    <!-- 第二步 重新添加 角色和对应的菜单 -->
    <insert id="addRoleMenu" parameterType="roleMenu">
    	insert into rolemenu (roleid,menuid) values(#{roleid} ,#{menuid})
    </insert>

    <!--增加角色-->
    <insert id="insert" parameterType="roleinfo">
        insert into roleinfo(rolename,des) values (#{rolename},#{des})
    </insert>

    <!--根据角色名称重复校验-->
    <select id="getRoleByName" parameterType="string" resultType="roleinfo">
    	select * from roleinfo where rolename = #{rolename}
    </select>

    <!--更新角色信息-->
    <update id="upfateRole" parameterType="roleinfo">
        update roleinfo set rolename=#{rolename},des=#{des} where id=#{id}
    </update>

    <!--根据id删除对应角色-->
    <delete id="delRolebyid" parameterType="int">
    	delete from roleinfo where id = #{id}
    </delete>



</mapper>